
.app{
  position: relative;
  &__wrapper{
    display: flex;
    gap:32px;
    padding-top:16px;
    padding-bottom: 32px;
    position: relative;
    
  }
  height:calc(100dvh - var(--nav-height));
  --nav-height:64px;
}
.nav{
  height:var(--nav-height);
  background:rgb(230, 230, 230);
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
  }
}
// *{
//   outline:1px solid red;
// }
.sidebar{
  width:256px;
  flex-shrink: 0;
  font-size:24px;
  &__list{
    display: flex;
    flex-direction: column;
    gap:16px;
    width:100%;
    justify-content: stretch ;
  }
}
.content{
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

}
.timer{
  width:100%;
  &__time{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:16px;
  }
}
.dashboard{
  width:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height:100%;
  gap:8px;
  &__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:16px;
    
    flex-grow: 1;
  }
  &__graph{
    grid-column: span 4;
  }
  &__calendar{
    grid-column: span 4;
  }
}
*{
  &::-webkit-scrollbar {
    width: 12px;
    height:12px;
    
  }
   
   
  &::-webkit-scrollbar-thumb {
    background: rgb(176, 176, 176);
    border-radius: 8px;
  }
}
